.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: gold;
}
.en_li{
    margin-top: 13px;
}
.en_li h4{
    border-bottom: 1px solid white;
    padding: 8px;
}
.en_li img{
    border-radius: 25px;
}
.en_li p{
    font-size: 20px;
    margin-top: 10px;
}
.header_entra{
    line-height: 2;
}
.book{
    cursor: pointer;
}
.book hr{
    margin-bottom: 10px;
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;
}

.modal-body{
    text-align: center;
}